# Dependencies
node_modules/

# Next.js build
.next/
out/
dist/

# Environment variables — NE JAMAIS PUSHER
.env
.env.local
.env.*.local

# Prisma generated
lib/generated/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json

# Database locale
prisma/chatify.db
prisma/chatify.db-journal

.vercel
.env*.local
